In [4]:
import numpy as np
import pandas as pd
#import matplotlib.pyplot as plt
from sklearn.tree import DecisionTreeClassifier

In [6]:
data = pd.read_csv('/home/ting/datasets/DLCode/task2.csv')

In [ ]:
# IV 
def iv(df,)

In [21]:
cols = ['top_trans_count_last_1_month',
       'rank_trad_1_month',
       'first_transaction_time',
       'trans_fail_top_count_enum_last_1_month',
       'trans_fail_top_count_enum_last_6_month',
       'trans_fail_top_count_enum_last_12_month',
       'max_consume_count_later_6_month',
       'railway_consume_count_last_12_month',
       'trans_day_last_12_month',
       'query_org_count',
       'query_cash_count',
       'loans_count',
       'loans_overdue_count',
       'loans_org_count_behavior',
       'consfin_org_count_behavior',
       'loans_cash_count',
       'latest_three_month_loan',
       'latest_six_month_loan',
       'history_fail_fee',
       'loans_org_count_current',
       'loans_product_count',
       'consfin_org_count_current',
       'consfin_product_count',
       'latest_query_day',
       'loans_latest_day',
       'status']
train = data[cols]
train = train.dropna()

In [28]:
from sklearn.model_selection import train_test_split

train_x = train.drop(['status'],axis = 1)
train_y = train['status']
Train_X,Test_X,Train_Y,Test_Y = train_test_split(train_x,train_y,test_size=0.3, random_state=0)

In [24]:
train_x.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4407 entries, 0 to 4753
Data columns (total 25 columns):
top_trans_count_last_1_month               4407 non-null float64
rank_trad_1_month                          4407 non-null float64
first_transaction_time                     4407 non-null float64
trans_fail_top_count_enum_last_1_month     4407 non-null float64
trans_fail_top_count_enum_last_6_month     4407 non-null float64
trans_fail_top_count_enum_last_12_month    4407 non-null float64
max_consume_count_later_6_month            4407 non-null float64
railway_consume_count_last_12_month        4407 non-null float64
trans_day_last_12_month                    4407 non-null float64
query_org_count                            4407 non-null float64
query_cash_count                           4407 non-null float64
loans_count                                4407 non-null float64
loans_overdue_count                        4407 non-null float64
loans_org_count_behavior                   4407 non-null float64
consfin_org_count_behavior                 4407 non-null float64
loans_cash_count                           4407 non-null float64
latest_three_month_loan                    4407 non-null float64
latest_six_month_loan                      4407 non-null float64
history_fail_fee                           4407 non-null float64
loans_org_count_current                    4407 non-null float64
loans_product_count                        4407 non-null float64
consfin_org_count_current                  4407 non-null float64
consfin_product_count                      4407 non-null float64
latest_query_day                           4407 non-null float64
loans_latest_day                           4407 non-null float64
dtypes: float64(25)
memory usage: 1.0 MB

In [29]:
tree = DecisionTreeClassifier().fit(Train_X,Train_Y)

In [26]:
train_x.head()

,top_trans_count_last_1_month,rank_trad_1_month,first_transaction_time,trans_fail_top_count_enum_last_1_month,trans_fail_top_count_enum_last_6_month,trans_fail_top_count_enum_last_12_month,max_consume_count_later_6_month,railway_consume_count_last_12_month,trans_day_last_12_month,query_org_count,...,loans_cash_count,latest_three_month_loan,latest_six_month_loan,history_fail_fee,loans_org_count_current,loans_product_count,consfin_org_count_current,consfin_product_count,latest_query_day,loans_latest_day
0,0.15,0.40,20130817.0,1.0,2.0,2.0,6.0,0.0,85.0,8.0,...,9.0,1.0,13.0,7.0,9.0,10.0,1.0,2.0,12.0,18.0
1,0.05,0.35,20160402.0,0.0,3.0,3.0,9.0,0.0,84.0,7.0,...,12.0,2.0,8.0,4.0,12.0,12.0,5.0,6.0,4.0,2.0
2,0.65,1.00,20170617.0,3.0,6.0,6.0,3.0,0.0,95.0,11.0,...,2.0,2.0,4.0,2.0,2.0,2.0,1.0,1.0,2.0,6.0
3,0.05,0.15,20130516.0,1.0,8.0,8.0,9.0,0.0,82.0,12.0,...,17.0,4.0,34.0,26.0,17.0,18.0,5.0,5.0,2.0,4.0
4,1.00,0.65,20170312.0,3.0,3.0,3.0,3.0,0.0,88.0,11.0,...,10.0,0.0,10.0,25.0,10.0,10.0,2.0,2.0,22.0,120.0

In [30]:
pred_Y = tree.predict(Test_X)

In [33]:
score = (pred_Y == Test_Y).sum()

In [35]:
len(Test_Y)

1323

In [36]:
score / len(Test_Y)

0.6999244142101285